{% extends 'layout.html' %}

{% block title %} Input {% endblock %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Input Data
        <!-- <small>Version 2.0</small> -->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Input Data</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="box-body">
                  <form role="form" action="" enctype="multipart/form-data" method="POST">
                    <div class="box-body">
                      <div class="form-group">
                        <label>Jenis Pelatihan</label>
                        <select class="form-control">
                          <option>Database Online</option>
                          <option>Academic Writing</option>
                          <option>Reference Manager Mendeley</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Tanggal Pelatihan:</label>
        
                        <div class="input-group date">
                          <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="datepicker">
                        </div>
                        <!-- /.input group -->
                      </div>
                      <!-- /.form group -->
                      <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" id="file" name="file">
                        <!-- <p class="help-block">Upload file sesuai dengan format yang telah disediakan</p> -->
                      </div>
                    </div>
                    <!-- /.box-body -->
      
                    <div class="box-footer">
                      <input type="submit" class="btn btn-primary" name="" value="Submit Data">
                    </div>
                  </form>
              <!-- /.row -->
            </div>
            <!-- ./box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% endblock %}